<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.owasp.goatdroid.app" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ologo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="org.owasp.goatdroid.app.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.owasp.goatdroid.app.BaseActivity"
            android:label="@string/title_activity_action_bar_base" >
        </activity>
        <activity
            android:name="org.owasp.goatdroid.app.activity.LessonActivity"
            android:label="@string/title_activity_lesson" >
        </activity>
    </application>

</manifest>
